<div id="advisor">
    <div id="advisorContent">
        <img id="advisorImage" class="image toggle-down"/>
    </div>
    <div id="advisorAdvice">
        <div id="adviceContent">
        </div>
    </div>
    <div id="advisorChange" class="modal-content">
        <div id="skinSelector" class="advisor-column">
            <img id="kitty" class="skinContainer"/>
            <img id="panda" class="skinContainer"/>
            <img id="raccoon" class="skinContainer"/>
            <img id="minion" class="skinContainer"/>
        </div>
    </div>
</div>