<div id="advisor">
    <div id="advisorContent">
        <img id="advisorImage" class="image" src="advisor.png"/>
    </div>
    <div id="advisorButtons">
        <div id="settingsButton" class="button50">
            <img id="settingsButtonImage" class="image50">
        </div>
        <div id="adviceRequestButton" class="button50">
            <img id="adviceRequestButtonImage" class="image50">
        </div>
    </div>
    <div id="advisorButton" class="button50">
        <img id="advisorButtonImage" class="image50">
    </div>
    <div id="advisorAdvice">
        <div id="leftButton" class="button">
            <img id="leftButtonImage" class="image">
        </div>
        <div id="adviceContent" class="content">

        </div>
        <div id="rightButton" class="button">
            <img id="rightButtonImage" class="image">
        </div>
        <div id="adviceCloseButton" class="button20">
            <img id="closeAdviceButtonImage" class="image20">
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Выберите представление помошника</p>
            <select id="skinSelector">
                <option value="default">Стандартный</option>
                <option value="minion">Минионы</option>
            </select>
            <button id="modalDialogOkButton">Ok</button>
        </div>
    </div>
</div>