<div id="advisor">
    <div id="advisorContent">
        <img id="advisorImage" class="image"/>
    </div>
    <div id="advisorButtons">
        <div id="settingsButton" class="button50">
            <img id="settingsButtonImage" class="image50">
        </div>
        <div id="adviceRequestButton" class="button50">
            <img id="adviceRequestButtonImage" class="image50">
        </div>
    </div>
    <div id="advisorButton" class="button50">
        <img id="advisorButtonImage" class="image50">
    </div>
    <div id="advisorAdvice">
        <div id="leftButton" class="button">
            <img id="leftButtonImage" class="image">
        </div>
        <div id="adviceContent">

        </div>
        <div id="rightButton" class="button">
            <img id="rightButtonImage" class="image">
        </div>
        <div id="adviceCloseButton" class="button20">
            <img id="closeAdviceButtonImage" class="image20">
        </div>
    </div>
    <div id="myModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Выберите представление помощника</h1>
            <div id="skinSelector">
                <img id="defaultSkinSelector" src="http://insgo.ru/resources/images/advisors/default/advisor.png" class="skinContainer"/>
                <img id="minionSkinSelector" src="http://insgo.ru/resources/images/advisors/minion/advisor.png" class="skinContainer" />
                <img id="alexSkinSelector" src="http://insgo.ru/resources/images/advisors/alex_madagaskar/advisor.png" class="skinContainer" />
                <img id="pandaSkinSelector" src="http://insgo.ru/resources/images/advisors/panda/advisor.png" class="skinContainer" />
            </div>
            <button id="closeSettingsButton">Ok</button>
        </div>
    </div>
</div>