<div id="advisor">
    <table style="width:100%">
        <tr>
            <td>
                <div id="advisorContent" class="right">
                    <img id="advisorImage" class="image"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="advisorAdvice">
                    <div id="leftButton" class="button">
                        <img id="leftButtonImage" class="image">
                    </div>
                    <div id="adviceContent" class="content">

                    </div>
                    <div id="rightButton" class="button">
                        <img id="rightButtonImage" class="image">
                    </div>
                    <div id="adviceCloseButton" class="button20">
                        <img id="closeAdviceButtonImage" class="image20">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="advisorButton" class="button50 right">
                    <img id="advisorButtonImage" class="image50">
                </div>
                <div id="advisorButtons" class="right">
                    <div id="settingsButton" class="button50 right">
                        <img id="settingsButtonImage" class="image50">
                    </div>
                    <div id="adviceRequestButton" class="button50 right">
                        <img id="adviceRequestButtonImage" class="image50">
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Выберите представление помошника</p>
            <div id="skinSelector">
                <img id="defaultSkinSelector" src="./resources/images/advisors/default/advisor.png" class="skinContainer"/>
                <img id="minionSkinSelector" src="./resources/images/advisors/minion/advisor.png" class="skinContainer" />
            </div>
            <button id="closeSettingsButton">Ok</button>
        </div>
    </div>
</div>