<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- DateTime picker -->
    <link rel="stylesheet" href="resources/css/external/datetimepicker/bootstrap-datetimepicker.min.css"/>

    <style>
        .mt {
            margin-top: 55px;
        }

        .bar rect {
            fill: steelblue;
        }

        .bar text {
            fill: #fff;
            font: 10px sans-serif;
        }

    </style>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 mt">
            <div class="thumbnail">
                <div class="list-group">
                    <a id="learn"
                       onclick="switch_chart('#learn');"
                       class="list-group-item active">
                        Обучение
                    </a>
                    <a id="prof"
                       onclick="switch_chart('#prof')"
                       class="list-group-item">Проф ориентация</a>
                    <a id="corr"
                       onclick="switch_chart('#corr')"
                       class="list-group-item">Корреляции</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <h1>Графики</h1>
            <div id="dashboard">
                <svg width="900" height="900" id="svg" font-family="sans-serif" font-size="10"
                     text-anchor="middle"></svg>
            </div>
            <div>
                <h1>Результаты</h1>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 mt">
            <div class="form-group">
                <label for="period">Период времени </label>
                <select class="form-control" id="period">
                    <option>Последняя Неделя</option>
                    <option>Последний Месяц</option>
                    <option>Последняя Четверть</option>
                    <option>Последнее Полугодие</option>
                    <option>Последний Год</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dtp_from">C </label>
                <div class='input-group date' id='datetimepicker_from'>
                    <input type='text' class="form-control" id="dtp_from"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="dtp_to">По </label>
                <div class='input-group date' id='datetimepicker_to'>
                    <input type='text' class="form-control" id="dtp_to"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary">Экспорт в Excel</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript files inserted at the end of the page to improve the loading performance -->

<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="resources/js/external/moment/moment.min.js"></script>
<script type="text/javascript" src="resources/js/external/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="resources/js/graph.js"></script>
</body>
</html>