
body {
    background: url('../../background.png')
}

#advisor {
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 10px;
}

#advisorButtons {
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 50px;
}

#advisorButtons .button {
    float: left;
    width: 50px;
    height: 50px;
}

#advisorContent {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 50px;
}

#advisorContent .image{
    width: 150px;
    height: 150px;
}

#advisorAdvice {
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 210px;
}

#advisorAdvice div{
    float: left;
}

#advisorAdvice .button {
    width: 25px;
    height: 100px;
    background-color: lightblue;
}

#advisorAdvice .image{
    width: 25px;
    height: 100px;
}

#advisorAdvice .content{
    width: 350px;
    height:100px;
    background-color: blue;
}

#adviceCloseButton {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    right: 25px;
    background-color: black;
}

.button50 {
    width: 50px;
    height: 50px;
}

.image50 {
    width: 50px;
    height: 50px;
}