#advisor {
    z-index: 1000;
    position: fixed;
    bottom: 50px;
    right: 30px;
}

#advisorButtons {
    width: 30px;
    height: 60px;
    position: absolute;
    bottom: 30px;
}

.right {
    float:right;
}

.left {
    float:left;
}

#advisorButtons .button {
    float: left;
    width: 30px;
    height: 30px;
}

#advisorContent {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 30px;
}

#advisorContent .image{
    width: 150px;
    height: 150px;
}

#advisorAdvice {
    width: 440px;
    height: 175px;
    position: absolute;
    right: 190px;
    bottom: 1px;
}

#advisorAdvice div{
    float: left;
}

#leftButton {
    width: 20px;
    height: 175px;
    background-color: #fdf2D0;
    border-radius: 15px 0px 0px 15px;
}

#leftButtonImage{
    width: 20px;
    margin-top: 20px;
}

#rightButtonImage{
    width: 20px;
    margin-top: 20px;
}

#rightButton {
    width: 20px;
    height: 175px;
    background-color: #fdf2D0;
    border-radius: 0px 15px 15px 0px;
}

#adviceContent {
    width: 400px;
    height:175px;
    background-color: #fdf2D0;
}

#adviceCloseButton {
    position: absolute;
    bottom: 145px;
    right: 25px;
}

.button50 {
    width: 30px;
    height: 30px;
}

.image50 {
    width: 30px;
    height: 30px;
}

.button20 {
    width: 20px;
    height: 20px;
}

.image20 {
    width: 20px;
    height: 20px;
}

.advertisementImage {
    width : 150px;
    height: 150px;
}

/* modal settings window css */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#skinSelector{
    width: 800px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.skinContainer{
	width: 150px;
	height: 150px;
	margin: 5px;
	border: 0px solid #fdf2D0;
}

#closeSettingsButton {
    width: 100px;
    height: 30px;
}

