
body {
    background: url('../../background.png')
}

#advisor {
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 10px;
}

#advisorButtons {
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 50px;
}

#advisorButtons .button {
    float: left;
    width: 50px;
    height: 50px;
}

#advisorContent {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 50px;
}

#advisorContent .image{
    width: 150px;
    height: 150px;
}

#advisorAdvice {
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 210px;
}

#advisorAdvice div{
    float: left;
}

#advisorAdvice .button {
    width: 25px;
    height: 100px;
    background-color: light-blue;
    z-index: 1001;
}

#advisorAdvice .image{
    width: 25px;
    height: 100px;
}

#advisorAdvice .content{
    width: 350px;
    height:100px;
    background-color: light-blue;
}

#adviceCloseButton {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    right: 25px;
}

.button50 {
    width: 50px;
    height: 50px;
}

.image50 {
    width: 50px;
    height: 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}